/* Try different box model properties below */
.site-header > p {
  color: white;
  margin-bottom: 0;
}

p:nth-child(1) {
  text-align: center;
  font-size: 12px;
}

.message:nth-last-child(1) {
  box-shadow: 4px 4px 0 #dba944;
}
